lib/schemas/testariport.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- WSDL for AR X-road API -->
<!-- Version: 3.5.12-test, date 2015-09-22 12:57, by user ando -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:typens="http://producers.arireg.xtee.riik.ee/producer/arireg" xmlns:wsdl="http://www.w3.org/ns/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" name="AriregAPI" targetNamespace="http://producers.arireg.xtee.riik.ee/producer/arireg">
    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://producers.arireg.xtee.riik.ee/producer/arireg">

            <import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>

            <!-- listMethods -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/listMethods.xsd"/>

            <!-- detailandmed_v5 -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/detailandmed_v5.xsd"/>
            
            <!-- ettevotja_dokumentide_loetelu -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/ettevotja_dokumentide_loetelu.xsd"/>

            <!-- ettevotja_esmakanded -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/ettevotja_esmakanded.xsd"/>

            <!-- ettevotja_muudatused tasuline -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/ettevotja_muudatused_tasuline.xsd"/>

            <!-- ettevotja rekvisiitide päring -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/ettevotja_rekvisiidid.xsd"/>

            <!-- ettevotja rekvisiitide fail -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/ettevotja_rekvisiidid_fail.xsd"/>

            <!-- isikuotsing -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/seotud_isiku_otsing.xsd"/>

            <!-- klassifikaatorid -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/klassifikaatorid.xsd"/>

            <!-- majandusaasta_aruanded -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/majandusaasta_aruannete_kirjed.xsd"/>

            <!-- majandusaasta_aruannete loetelu -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/majandusaasta_aruannete_loetelu.xsd"/>

            <!-- toimiku_dokument -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/toimiku_dokument.xsd"/>

            <!-- paringliht_v5 -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/paringliht_v5.xsd"/>

            <!-- paringliht_tasuta -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/paringliht_tasuta.xsd"/>

            <!-- paringesindus_v3 -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/paringesindus_v3.xsd"/>

            <!-- paringesindus_v4 -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/paringesindus_v4.xsd"/>

            <!-- ettevottega_seotud_isikud -->
            <include schemaLocation="http://www2.rik.ee/schemas/xtee/arireg/test/ettevottega_seotud_isikud.xsd"/>

        </xsd:schema>
    </types>

    <!-- Messages for AR APIs -->
    <message name="listMethodsInputMessage">
        <!--        <part name="keha" type="xsd:string"/> -->
    </message>
    <message name="listMethodsOutputMessage">
        <part name="keha" type="typens:listMethodsVastus"/>
    </message>
    <message name="testSystemInputMessage">
    </message>
    <message name="testSystemOutputMessage">
    </message>
    <message name="ettevotja_dokumentide_loeteluInputMessage">
        <part name="keha" type="typens:ettevotja_dokumentide_loetelu_paring"/>
    </message>
    <message name="ettevotja_dokumentide_loeteluOutputMessage">
        <part name="paring" type="typens:ettevotja_dokumentide_loetelu_paring"/>
        <part name="keha" type="typens:ettevotja_dokumentide_loetelu_vastus"/>
    </message>
    <message name="ettevotja_esmakandedInputMessage">
        <part name="keha" type="typens:ettevotja_esmakanded_paring"/>
    </message>
    <message name="ettevotja_esmakandedOutputMessage">
        <part name="paring" type="typens:ettevotja_esmakanded_paring"/>
        <part name="keha" type="typens:ettevotja_esmakanded_vastus"/>
    </message>
    <message name="ettevotja_muudatused_tasulineInputMessage">
        <part name="keha" type="typens:ettevotja_muudatused_tasuline_paring"/>
    </message>
    <message name="ettevotja_muudatused_tasulineOutputMessage">
        <part name="paring" type="typens:ettevotja_muudatused_tasuline_paring"/>
        <part name="keha" type="typens:ettevotja_muudatused_tasuline_vastus"/>
    </message>
    <message name="ettevotja_rekvisiididInputMessage">
        <part name="keha" type="typens:ettevotja_rekvisiidid_paring"/>
    </message>
    <message name="ettevotja_rekvisiididOutputMessage">
        <part name="paring" type="typens:ettevotja_rekvisiidid_paring"/>
        <part name="keha" type="typens:ettevotja_rekvisiidid_vastus"/>
    </message>
    <message name="ettevotja_rekvisiidid_failInputMessage">
        <part name="keha" type="typens:ettevotja_rekvisiidid_fail_paring"/>
    </message>
    <message name="ettevotja_rekvisiidid_failOutputMessage">
        <part name="paring" type="typens:ettevotja_rekvisiidid_fail_paring"/>
        <part name="keha" type="typens:ettevotja_rekvisiidid_fail_vastus"/>
    </message>
    <message name="seotud_isiku_otsingInputMessage">
        <part name="keha" type="typens:seotud_isiku_otsing_paring"/>
    </message>
    <message name="seotud_isiku_otsingOutputMessage">
        <part name="paring" type="typens:seotud_isiku_otsing_paring"/>
        <part name="keha" type="typens:seotud_isiku_otsing_vastus"/>
    </message>
    <message name="klassifikaatoridInputMessage">
        <part name="keha" type="typens:klassifikaatorid_paring"/>
    </message>
    <message name="klassifikaatoridOutputMessage">
        <part name="paring" type="typens:klassifikaatorid_paring"/>
        <part name="keha" type="typens:klassifikaatorid_vastus"/>
    </message>
    <message name="majandusaasta_aruannete_kirjedInputMessage">
        <part name="keha" type="typens:majandusaasta_aruannete_kirjed_paring"/>
    </message>
    <message name="majandusaasta_aruannete_kirjedOutputMessage">
        <part name="paring" type="typens:majandusaasta_aruannete_kirjed_paring"/>
        <part name="keha" type="typens:majandusaasta_aruannete_kirjed_vastus"/>
    </message>
    <message name="majandusaasta_aruannete_loeteluInputMessage">
        <part name="keha" type="typens:majandusaasta_aruannete_loetelu_paring"/>
    </message>
    <message name="majandusaasta_aruannete_loeteluOutputMessage">
        <part name="paring" type="typens:majandusaasta_aruannete_loetelu_paring"/>
        <part name="keha" type="typens:majandusaasta_aruannete_loetelu_vastus"/>
    </message>
    <message name="detailandmed_v5_InputMessage">
        <part name="keha" type="typens:detailandmed_v5_Query"/>
    </message>
    <message name="detailandmed_v5_OutputMessage">
        <part name="paring" type="typens:detailandmed_v5_Query"/>
        <part name="keha" type="typens:detailandmed_v5_Vastus"/>
    </message>
    <message name="toimiku_dokumentInputMessage">
        <part name="keha" type="typens:toimiku_dokumentRequest"/>
    </message>
    <message name="toimiku_dokumentOutputMessage">
        <part name="paring" type="typens:toimiku_dokumentRequest"/>
        <part name="keha" type="typens:toimiku_dokumentVastus"/>
    </message>
    <message name="paringliht_v5_InputMessage">
        <part name="keha" type="typens:paringliht_v5_paring"/>
    </message>
    <message name="paringliht_v5_OutputMessage">
        <part name="paring" type="typens:paringliht_v5_paring"/>
        <part name="keha" type="typens:paringliht_v5_vastus"/>
    </message>
    <message name="paringliht_tasuta_InputMessage">
        <part name="keha" type="typens:paringliht_tasuta_paring"/>
    </message>
    <message name="paringliht_tasuta_OutputMessage">
        <part name="paring" type="typens:paringliht_tasuta_paring"/>
        <part name="keha" type="typens:paringliht_tasuta_vastus"/>
    </message>
    <message name="paringesindus_v3_InputMessage">
        <part name="keha" type="typens:paringesindus_v3_paring"/>
    </message>
    <message name="paringesindus_v3_OutputMessage">
        <part name="paring" type="typens:paringesindus_v3_paring"/>
        <part name="keha" type="typens:paringesindus_v3_vastus"/>
    </message>
    <message name="paringesindus_v4_InputMessage">
        <part name="keha" type="typens:paringesindus_v4_paring"/>
    </message>
    <message name="paringesindus_v4_OutputMessage">
        <part name="paring" type="typens:paringesindus_v4_paring"/>
        <part name="keha" type="typens:paringesindus_v4_vastus"/>
    </message>
    <message name="ettevottega_seotud_isikud_InputMessage">
        <part name="keha" type="typens:ettevottega_seotud_isikud_paring"/>
    </message>
    <message name="ettevottega_seotud_isikud_OutputMessage">
        <part name="paring" type="typens:ettevottega_seotud_isikud_paring"/>
        <part name="keha" type="typens:ettevottega_seotud_isikud_vastus"/>
    </message>

    <!-- Port for AR, "Arireg" -->
    <portType name="AriregPort">
        <operation name="listMethods">
            <documentation>
                <xtee:title>Teenuste nimekiri</xtee:title>
            </documentation>
            <input message="typens:listMethodsInputMessage"/>
            <output message="typens:listMethodsOutputMessage"/>
        </operation>
        <operation name="testSystem">
            <documentation>
                <xtee:title>Adapteri test</xtee:title>
            </documentation>
            <input message="typens:testSystemInputMessage"/>
            <output message="typens:testSystemOutputMessage"/>
        </operation>
        <operation name="ettevotja_dokumentide_loetelu">
            <documentation>
                <xtee:title>Ettevõtjaga seotud dokumentide loetelu päring</xtee:title>
            </documentation>
            <input message="typens:ettevotja_dokumentide_loeteluInputMessage"/>
            <output message="typens:ettevotja_dokumentide_loeteluOutputMessage"/>
        </operation>
        <operation name="ettevotja_esmakanded">
            <documentation>
                <xtee:title>Ettevõtja esmakannete päring</xtee:title>
            </documentation>
            <input message="typens:ettevotja_esmakandedInputMessage"/>
            <output message="typens:ettevotja_esmakandedOutputMessage"/>
        </operation>
        <operation name="ettevotja_muudatused_tasuline">
            <documentation>
                <xtee:title>Ettevõtja muudatuste loetelu tasuline päring</xtee:title>
            </documentation>
            <input message="typens:ettevotja_muudatused_tasulineInputMessage"/>
            <output message="typens:ettevotja_muudatused_tasulineOutputMessage"/>
        </operation>
        <operation name="ettevotja_rekvisiidid">
            <documentation>
                <xtee:title>Ettevotja rekvisiitide päring</xtee:title>
            </documentation>
            <input message="typens:ettevotja_rekvisiididInputMessage"/>
            <output message="typens:ettevotja_rekvisiididOutputMessage"/>
        </operation>
        <operation name="ettevotja_rekvisiidid_fail">
            <documentation>
                <xtee:title>Ettevotja rekvisiitide fail</xtee:title>
            </documentation>
            <input message="typens:ettevotja_rekvisiidid_failInputMessage"/>
            <output message="typens:ettevotja_rekvisiidid_failOutputMessage"/>
        </operation>
        <operation name="seotud_isiku_otsing">
            <documentation>
                <xtee:title>Isikute otsing</xtee:title>
            </documentation>
            <input message="typens:seotud_isiku_otsingInputMessage"/>
            <output message="typens:seotud_isiku_otsingOutputMessage"/>
        </operation>
        <operation name="klassifikaatorid">
            <documentation>
                <xtee:title>Klassifikaatorite päring</xtee:title>
            </documentation>
            <input message="typens:klassifikaatoridInputMessage"/>
            <output message="typens:klassifikaatoridOutputMessage"/>
        </operation>
        <operation name="majandusaasta_aruannete_kirjed">
            <documentation>
                <xtee:title>Ettevõtja majandusaasta aruande päring</xtee:title>
            </documentation>
            <input message="typens:majandusaasta_aruannete_kirjedInputMessage"/>
            <output message="typens:majandusaasta_aruannete_kirjedOutputMessage"/>
        </operation>
        <operation name="majandusaasta_aruannete_loetelu">
            <documentation>
                <xtee:title>Ettevõtja majandusaasta aruande loetelu päring</xtee:title>
            </documentation>
            <input message="typens:majandusaasta_aruannete_loeteluInputMessage"/>
            <output message="typens:majandusaasta_aruannete_loeteluOutputMessage"/>
        </operation>
        <operation name="detailandmed_v5">
            <documentation>
                <xtee:title>Ettevõtja detailandmete päring v5</xtee:title>
            </documentation>
            <input message="typens:detailandmed_v5_InputMessage"/>
            <output message="typens:detailandmed_v5_OutputMessage"/>
        </operation>
        <operation name="toimiku_dokument">
            <documentation>
                <xtee:title>E-notar: toimiku dokumendi sisu</xtee:title>
            </documentation>
            <input message="typens:toimiku_dokumentInputMessage"/>
            <output message="typens:toimiku_dokumentOutputMessage"/>
        </operation>
        <operation name="paringliht_v5">
            <documentation>
                <xtee:title>Ettevõtja lihtandmete päring v5</xtee:title>
            </documentation>
            <input message="typens:paringliht_v5_InputMessage"/>
            <output message="typens:paringliht_v5_OutputMessage"/>
        </operation>
         <operation name="paringliht_tasuta">
            <documentation>
                <xtee:title>Ettevõtja lihtandmete päring tasuta</xtee:title>
            </documentation>
            <input message="typens:paringliht_tasuta_InputMessage"/>
            <output message="typens:paringliht_tasuta_OutputMessage"/>
        </operation>
        <operation name="paringesindus_v3">
            <documentation>
                <xtee:title>Esindusõiguste päring v3</xtee:title>
            </documentation>
            <input message="typens:paringesindus_v3_InputMessage"/>
            <output message="typens:paringesindus_v3_OutputMessage"/>
        </operation>
        <operation name="paringesindus_v4">
            <documentation>
                <xtee:title>Esindusõiguste päring v4</xtee:title>
            </documentation>
            <input message="typens:paringesindus_v4_InputMessage"/>
            <output message="typens:paringesindus_v4_OutputMessage"/>
        </operation>
        <operation name="ettevottega_seotud_isikud">
            <documentation>
                <xtee:title>Visuaalse Äriregistri ettevõtete-isikute vaheliste seoste päring</xtee:title>
            </documentation>
            <input message="typens:ettevottega_seotud_isikud_InputMessage"/>
            <output message="typens:ettevottega_seotud_isikud_OutputMessage"/>
        </operation>
    </portType>

    <!-- Binding for AR APIs - RPC, SOAP over HTTP -->
    <binding name="AriregBinding" type="typens:AriregPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listMethods">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" use="encoded"/>
            </output>
        </operation>
        <operation name="testSystem">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://x-rd.net/xsd/xroad.xsd" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://x-rd.net/xsd/xroad.xsd" use="literal"/>
            </output>
        </operation>
        <operation name="majandusaasta_aruannete_kirjed">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="majandusaasta_aruannete_loetelu">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="ettevotja_dokumentide_loetelu">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="ettevotja_esmakanded">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="ettevotja_muudatused_tasuline">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="ettevotja_rekvisiidid">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="ettevotja_rekvisiidid_fail">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="seotud_isiku_otsing">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="klassifikaatorid">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="detailandmed_v5">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="toimiku_dokument">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="paringliht_v5">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="paringliht_tasuta">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="paringesindus_v3">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="paringesindus_v4">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
        <operation name="ettevottega_seotud_isikud">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction=""/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.arireg.xtee.riik.ee/producer/arireg" use="encoded"/>
            </output>
        </operation>
    </binding>
    <!-- Endpoint for AR APIs -->
    <service name="arireg">
        <port binding="typens:AriregBinding" name="AriregPort">
            <soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
            <xtee:title>Äriregister_uus</xtee:title>
            <xtee:address producer="arireg"/>
        </port>
    </service>
</definitions>
